.intro {
  text-align: center;
  height: 480px;
  display: flex;
  align-items: center;
}

.intro__heading {
  margin-bottom: 24px;
}

.intro__descr {
  font-family: "Roboto Regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;

  & .accent {
    font-weight: bold;
  }
}

.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-heading;
  letter-spacing: 0.02em;
  text-decoration: none;

  & span {
    display: flex;
    margin-right: -8px;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    width: 54px;
    height: 54px;
    border-radius: 100px;
  }
}
