@font-face {
  font-family: "DIN Pro Regular";
  src: url("../../../fonts/");
  src: url("../../../fonts/DIN-Pro-Regular/DINPro.eot?#iefix") format("embedded-opentype"),
    url("../../../fonts/DIN-Pro-Regular/DINPro.woff") format("woff"),
    url("../../../fonts/DIN-Pro-Regular/DINPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN Pro Bold";
  src: url("../../../fonts/DIN-Pro-Bold/DINPro-Bold.eot");
  src: url("../../../fonts/DIN-Pro-Bold/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../../fonts/DIN-Pro-Bold/DINPro-Bold.woff") format("woff"),
    url("../../../fonts/DIN-Pro-Bold/DINPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"),
    url("../../../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../../../fonts/Gilroy-Extra-Bold/Gilroy-ExtraBold.eot");
  src: url("../../../fonts/Gilroy-Extra-Bold/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/Gilroy-Extra-Bold/Gilroy-ExtraBold.woff") format("woff"),
    url("../../../fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
