// Colors
$white: #ffffff;
$light: #F7F5FA;
$dark: #161616;
$black: #000000;
$accent: #F47821;
$color-heading: #222222;
$color-text: #4E4D53;

// Fonts
$roboto: "Roboto Regular", sans-serif;
$gilroy: "Gilroy Extra Bold", sans-serif;
$din-bold: "DIN Pro Bold", sans-serif;